[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Artag-microservices/Gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Artag-microservices/orders_micro_services.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Artag-microservices/products_micro_services.git
